<h1>My Quotes</h1>

        <div class="container">
         
            
          
 <div class="row" *ngFor="let quote of quotes;let i = 'index'">
  
  <h4 id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>         
  
   <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
   <app-quotes-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuotes($event,i)'></app-quotes-details>  


  </div>

 
  </div>   

  <div class="row">
      <app-quotes-form ></app-quotes-form>
  </div>